<h1>Listing aplicaciones</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aplicaciones.each do |aplicacion| %>
  <tr>
    <td><%= aplicacion.nombre %></td>
    <td><%= link_to 'Show', aplicacion %></td>
    <td><%= link_to 'Edit', edit_aplicacion_path(aplicacion) %></td>
    <td><%= link_to 'Destroy', aplicacion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aplicacion', new_aplicacion_path %>
