<% provide(:title, "Iniciar sesión") %>
<h1>Iniciar Sesión</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:sesion, url: sesiones_path) do |f| %>

      <%= f.label :correo %>
      <%= f.text_field :correo %>

      <%= f.label :contrasena %>
      <%= f.password_field :password %>

      <%= f.submit "Iniciar Sesión", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>