<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Correo:</b>
  <%= @usuario.correo %>
</p>



<%= link_to 'Editar', edit_usuario_path(@usuario), class:"btn btn-small btn-primary" %> |
<%= link_to 'Atrás', usuarios_path, class:"btn btn-small btn-primary" %>
