<h1>Listing registros</h1>

<table>
  <tr>
    <th>Cuenta</th>
    <th>Hora</th>
    <th>Pendiente</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registros.each do |registro| %>
  <tr>
    <td><%= registro.cuenta.correo %></td>
    <td><%= registro.hora %></td>
    <td><%= registro.pendiente %></td>
    <td><%= registro.total %></td>
    <td><%= link_to 'Show', registro %></td>
    <td><%= link_to 'Edit', edit_registro_path(registro) %></td>
    <td><%= link_to 'Destroy', registro, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Registro', new_registro_path %>
