<p id="notice"><%= notice %></p>

<p>
  <b>Cuenta:</b>
  <%= @registro.cuenta.correo %>
</p>

<p>
  <b>Hora:</b>
  <%= @registro.hora %>
</p>

<p>
  <b>Pendiente:</b>
  <%= @registro.pendiente %>
</p>

<p>
  <b>Total:</b>
  <%= @registro.total %>
</p>


<%= link_to 'Editar', edit_registro_path(@registro), class:"btn btn-small btn-primary" %> |
<%= link_to 'Atrás', registros_path, class:"btn btn-small btn-primary" %>
